@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');


body {
		background: #ffffff;
    font-family: 'Rubik', 'Pretendard', sans-serif;
    font-style: normal;
		font-weight: 300;
    overflow-x: hidden;
    font-size:16px;
}


/*---------------------------------------
    Typorgraphy              
-----------------------------------------*/

h1,h2,h3,h4,h5,h6 {
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.5px;
}

h1 {
    font-size: 3.875rem;
    padding-bottom: 14px;
    margin-bottom: 0px;
}

h2 {
  font-size: 2rem;
  line-height: 46px;
}

h3 {
  font-size: 1.625rem;
}

h4 {
  color: #666;
  font-size: 0.75rem;
  font-weight: normal;
  letter-spacing: 2px;
}

p {
    color: #777;
    font-size: 1rem;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0.2px;
}

strong {
  font-weight: 400;
}

.btn-success:focus {
  background-color: #000;
  border-color: transparent;
}


/*---------------------------------------
    General               
-----------------------------------------*/

html{
  -webkit-font-smoothing: antialiased;
  font-size:16px;
}

a {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none !important;
}
a:hover, a:active, a:focus {
  outline: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#portfolio,
#about,
#blog,
#contact,
#single-project,
#blog-single-post {
  padding-top: 80px;
  padding-bottom: 120px;
}

.section-title {
  position: relative;
  padding-bottom: 62px;
  text-align: center;
}

.section-title h3 {
  color: #555;
  font-weight: 500;
  letter-spacing: 4px;
}


/*---------------------------------------
    Preloader section              
-----------------------------------------*/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #ffffff;
}

/*.sk-spinner-wordpress.sk-spinner {
  background-color: #bdc3c7;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  position: relative;
  -webkit-animation: sk-innerCircle 1s linear infinite;
  animation: sk-innerCircle 1s linear infinite; 
}

.sk-spinner-wordpress .sk-inner-circle {
  display: block;
  background-color: #ffffff;
  width: 16px;
  height: 16px;
  position: absolute;
  border-radius: 8px;
  top: 5px;
  left: 5px; 
}

@-webkit-keyframes sk-innerCircle {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes sk-innerCircle {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }*/

.circle{
    width:100px; height:100px; border-radius:50%; 
    mix-blend-mode:multiply; position:relative;  
    }
.no1{background:#def2b3;}
.no2{background:#79ad63; top:0px; left:-25px;}
.no3{
  display:block; width:40px; height:40px; background:#472584;
  top:-60px; left:-20px; 
  }
.animate__animated.animate__fadeInUp{
  --animate-duration: 0.8s;
}
.no3.animate__animated.animate__fadeInUp{
  --animate-duration: 1s;
}



/*---------------------------------------
    Main Navigation             
-----------------------------------------*/

.navbar-default {
    background: #ffffff;
    padding: 18px 0;
    border: none;
    margin-top: 62px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: transparent;
}

.navbar-default .navbar-brand {
  width:155px; height:109px; 
}

.navbar-default .navbar-brand img{width:100%;}


.navbar-default .navbar-nav li a {
    color: #777;
    font-size: 1rem;
    letter-spacing: 1px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    padding-right: 22px;
    padding-left: 22px;

    font-weight:500;
}

.navbar-default .navbar-nav > li a:hover {
    color: #bba7fe !important;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #777;
    background-color: transparent;
}

.navbar-default .navbar-nav li a:hover
 /*.navbar-default .navbar-nav .active > a*/ {
    color: #bba7fe;
  }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #8344af;
    background-color: transparent;
}

.navbar-default .navbar-toggle {
     border: none;
     padding-top: 10px;
  }

.navbar-default .navbar-toggle .icon-bar {
    background: #bdc3c7;
    border-color: transparent;
  }

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { 
  background-color: transparent;
}


/*---------------------------------------
    index          
-----------------------------------------*/
.index_img img{width:100%;}



/*---------------------------------------
   About section             
-----------------------------------------*/
#about:after{content:''; display:block; clear:both;}
#about .left{float:left; width:23%; margin-right:100px;}

#about .left .profile{margin-bottom:30px;}
#about .left .profile img{width:100%;}

#about .left .personal_data:after{content:''; display:block; clear:both;}
#about .left .personal_data p{font-weight:400; font-size:1.125rem;}
#about .left .personal_data p.name{
  font-size:1.375rem; color:#555; margin-bottom:30px;
  text-align:center;
  }

#about .left .personal_data span{
  font-weight:500; margin-right:5px;
}

#about .left .personal_data i{margin-right:10px;}
#about .left .personal_data a{
  color:#555; display:inline-block; border:1px solid #ccc;
  border-radius:30px; padding:10px 20px; margin-right:5px; box-sizing:border-box;
  }
#about .left .personal_data a.phone{margin-right:0;}
#about .left .personal_data a:hover{
  color:#fff; background:#472584; border-color:transparent;
  }

/*#about .left .personal_data a.mail{float:left;}
#about .left .personal_data a.phone{float:right; text-align:right;}*/


#about .right{float:left; width:calc(100% - 23% - 100px);}
#about .right .profile_txt{margin-bottom:80px;}
#about .right .profile_txt p{
  font-size:1.125rem; line-height:1.5em; word-break:keep-all;
  
  }
#about .right .profile_txt span{display:block;}
#about .right .profile_txt span.tit{font-size:1.625rem; font-weight:600; color:#555;}
#about .right .profile_txt span.mini_bar{
  content:''; width:50px; height:2px; background-color:#999;
  margin:20px 0;
}

#about .skills .tool{
  float:left; width:calc((100% - 50px)/2); margin-right:50px;
  margin-bottom:10px;
  }
#about .skills .tool:after{content:''; display:block; clear:both;}
#about .skills .tool:nth-child(2n){margin-right:0;}
#about .skills .tool .name{float:left; font-weight:500; margin-bottom:5px;}
#about .skills .tool .percent{font-weight:500; text-align: right; margin-bottom:5px;}
#about .skills .tool .bar{width:100%; height:10px; background-color:#eee;}
#about .skills .tool .bar .bar_color{
  height:10px; background-color:#b2db8f; display:block;
  width:100%;
  }
#about .skills .tool.ph .bar_color{animation: ani_bar85 2s ease-out; width:85%;}
#about .skills .tool.ai .bar_color{animation: ani_bar80 2s ease-out; width:80%;}
#about .skills .tool.xd .bar_color{animation: ani_bar80 2s ease-out; width:80%;}
#about .skills .tool.html .bar_color{animation: ani_bar85 2s ease-out; width:85%;}
#about .skills .tool.css .bar_color{animation: ani_bar85 2s ease-out; width:85%;}
#about .skills .tool.jq .bar_color{animation: ani_bar70 2s ease-out; width:70%;}
#about .skills .tool.cafe .bar_color{animation: ani_bar70 2s ease-out; width:70%;}
#about .skills .tool.oa .bar_color{animation: ani_bar80 2s ease-out; width:80%;}


@keyframes ani_bar85{
 0% {width:0;}
 100% {width:85%;}
}
@keyframes ani_bar80{
 0% {width:0;}
 100% {width:80%;}
}
@keyframes ani_bar70{
 0% {width:0;}
 100% {width:70%;}
}









/*---------------------------------------
    design section             
-----------------------------------------*/
#designs{margin-bottom:120px;}
   	   #designs .container{max-width:1200px;margin:0 auto}
		#designs .row{display:flex;flex-wrap:wrap;justify-content:start}
		#designs .row > div{width:calc((100% - 40px) / 3);margin-right:20px;}
		#designs .row > div:nth-child(3n){margin-right:0}

#fh5co-work {
  overflow: hidden;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
  background-color: #def2b3;
  /*background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjEwMCUiPjxzdG9wIHN0b3AtY29sb3I9IiMzZjk1ZWEiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzUyZDNhYSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, #3f95ea), color-stop(1, #52d3aa));*/
  /* Android 2.3 */
  /*background-image: -webkit-repeating-linear-gradient(top left, #3f95ea 0%, #52d3aa 100%);*/
  /* IE10+ */
  /*background-image: repeating-linear-gradient(to bottom right, #3f95ea 0%, #52d3aa 100%);
  background-image: -ms-repeating-linear-gradient(top left, #3f95ea 0%, #52d3aa 100%);*/
}
/*#fh5co-work a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: underline;
}*/
#fh5co-work a:hover {
  color: white;
}
#fh5co-work:before, #fh5co-work:after {
  position: absolute;
  transform: rotate(-1.7deg);
  -ms-transform: rotate(-1.7deg);
  -webkit-transform: rotate(-1.7deg);
  -o-transform: rotate(-1.7deg);
  -moz-transform: rotate(-1.7deg);
  background-color: #fff;
  content: "";
  z-index: 3;
  display: inline-block;
  height: 70px;
  padding: 0;
  width: 101%;
}
#fh5co-work:before {
  top: 0;
  margin-top: -35px;
}
#fh5co-work:after {
  bottom: 0;
  margin-bottom: -35px;
}
#fh5co-work .section-heading h2 {
  color: #fff;
}
#fh5co-work .section-heading h2:after {
  background: rgba(255, 255, 255, 0.3);
}
#fh5co-work .section-heading h3 {
  color: rgba(255, 255, 255, 0.8);
}
#fh5co-work .fh5co-project-item {
  display: block;
  width: 100%;
  position: relative;
  top: 0;
  background: #fff;
  overflow: hidden;
  z-index: 9;
  margin-bottom: 30px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

#fh5co-work .fh5co-project-item img {
  z-index: 8;
  opacity: 1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#fh5co-work .fh5co-project-item .fh5co-text {
  padding: 10px 20px;
}
#fh5co-work .fh5co-project-item .fh5co-text h2, #fh5co-work .fh5co-project-item .fh5co-text span {
  text-decoration: none !important;
}
#fh5co-work .fh5co-project-item .fh5co-text h2 {
  font-size: 18px;
  font-weight: bold;
  color:#555;
  margin: 0;
}
#fh5co-work .fh5co-project-item:hover h2{color:#472584;}
#fh5co-work .fh5co-project-item .fh5co-text span {
  color: #b3b3b3;
  font-size: 16px;
  font-weight: 400;
}
#fh5co-work .fh5co-project-item:hover, #fh5co-work .fh5co-project-item:focus {
  -webkit-box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.4);
  text-decoration: none;
  top: -15px;
}
#fh5co-work .fh5co-project-item:hover img, #fh5co-work .fh5co-project-item:focus img {
  opacity: .7;
}
#fh5co-work .fh5co-project-item:hover h2, #fh5co-work .fh5co-project-item:hover span, #fh5co-work .fh5co-project-item:focus h2, #fh5co-work .fh5co-project-item:focus span {
  text-decoration: none !important;
}









/*---------------------------------------
   Blog section              
-----------------------------------------*/
#blog:after{content:''; display:block; clear:both;}



#blog .col-md-offset-1{width:100%; margin-left:0;}
.blog-post-thumb {
  padding-top: 32px;
  padding-bottom: 62px;
  margin-bottom: 32px;
  
  float:left; width:calc((100% - 100px)/3); margin-right:50px;
}

.blog-post-thumb:last-child {
  border-bottom: 0px;
  padding-bottom: 32px;
  margin-bottom: 0px;
  margin-right:0;
}

.blog-post-image {
  padding-bottom: 18px;
  width: 100%; overflow:hidden; border-radius:7px;
}
.blog-post-image img{width:100%;}


.blog-post-title a {
  color: #555; font-weight:500;
}

.blog-post-thumb:hover h3 a {
  color: #8344af;
}

.blog-post-des p{margin-bottom:0;}

.blog-post-des .btn {
  border-radius: 100px;
  color: #777;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 14px 28px;
  margin-top: 26px;
  transition: all 0.4s ease-in-out;
}

.blog-post-des .btn:hover {
  background: #472584;
  border-color: transparent;
  color: #ffffff;
}















/*---------------------------------------
   Footer section              
-----------------------------------------*/

footer {
    border-top: 1px solid #f0f0f0;
    padding: 100px 0px;
    position: relative;
}

footer .col-md-3 {
  width:155px; height:109px;
}
footer .col-md-3 img{width:100%;}

footer a {
  color: #555; transition:0.3;
}
footer i{margin-right:10px;}
footer a:hover{color:#b2db8f;}

footer hr {
  border-color: #ffffff;
  margin-top: 42px;
  margin-bottom: 22px;
}

footer .footer-copyright {
  padding-top: 16px;
}


/*---------------------------------------
   Social icon             
-----------------------------------------*/

.social-icon {
    position: relative;
    padding: 0;
    margin: 0;
    text-align: center;
}

.social-icon li {
    display: inline-block;
    list-style: none;
}

.social-icon li a {
    color: #777;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    text-align: center;
    vertical-align: middle;
    position: relative;
    margin: 22px 12px 10px 12px;
}

.social-icon li a:hover {
    color: #000;
    transform: scale(1.1);
}



/*---------------------------------------
   Mobile Responsive         
-----------------------------------------*/


@media (max-width: 767px) {

  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 32px;
    line-height: 48px;
  }

  h3 {
    font-size: 22px;
  }

.container{max-width:100%;}


  .section-title h2 {
    font-size: 22px;
    line-height: 35px;
  }

  .navbar-default {
    margin-top: 0px;
    text-align: center;
  }

  #about .col-md-8 img {
    padding-right: 0px;
  }

  #about .left {
    float: none;
    width: 60%;
    margin:0 auto 80px;
}
#about .right {
    float: none;
    width: 100%;
}
#about .right .profile_txt {
    margin-bottom: 60px;
}
#about .skills .tool {
    float: left;
    width: calc((100% - 30px)/2);
    margin-right: 30px;
    margin-bottom: 10px;
}



.blog-post-thumb {
    padding-top: 32px;
    padding-bottom: 62px;
    margin-bottom: 32px;
    float: left;
    width: calc((100% - 30px)/2);
    margin-right: 30px;
}
.blog-post-thumb:nth-child(3n) {
    margin-right: 0;
}



#designs .row > div {
    width: 50%;
    margin-right: 0px;
}
#designs .row > div:nth-child(2n) {
    margin-right: 0;
}
#designs .row > div:nth-child(3n) {
    margin-right: 0px;
}
#fh5co-work .fh5co-project-item .fh5co-text span {
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; width:100%; display:block;
}
#fh5co-work .fh5co-project-item .fh5co-text h2 {
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

  footer {
    text-align: center;
  }

  footer .col-md-4 {
    padding-top: 42px;
  }
  footer .col-md-3{
    margin:0 auto;
}















}


